<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap CDN-->
    <link resl='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/BurgerShop/public/assets/css/burger_style.css' type='text/css' />
    
    <title>Burger Store</title>

    
</head>
<body>
    {{{ body }}}

    {{!--Jquery--}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src='/BurgerShop/public/assets/js/burger.js'></script>
</body>
</html>